[color]
	ui = true
[user]
	name = Cristian Molina
	email = megatux@gmail.com
[alias]
  	st = status
	co = checkout
	ci = commit
  	l = log --oneline
	restore = clean -xfd
	stashedlist = diff --name-only --cached
	branchname = rev-parse --abbrev-ref HEAD
	bname = rev-parse --abbrev-ref HEAD
[core]
	editor = micro
[guitool "Rebase onto..."]
    cmd = git rebase $REVISION
    revprompt = yes
[guitool "Rebase/Continue"]
    cmd = git rebase --continue
[guitool "Rebase/Skip"]
    cmd = git rebase --skip
[guitool "Rebase/Abort"]
    cmd = git rebase --abort
[guitool "Pull with Rebase"]
    cmd = git pull --rebase
[push]
	default = current
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[credential]
	helper = cache --timeout 7200
	helper = oauth
[diff]
	srcPrefix = "SRC: "
	dstPrefix = "DST: "
